.main_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main_container > * {
  flex: 0 1 calc(100% / 3 - 10px);
}

@media (max-width: 1100px) {
  
.main_container > * {
  flex: 0 1 calc(100% / 2 - 10px);
}
}

@media (max-width: 750px) {
  .main_container > * {
    flex: 0 1 calc(100% / 1);
  }
  }